@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --color-text-white:hsl(0, 0%, 100%);
    --color-text-light:hsl(217, 12%, 63%);
    --color-medium:hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 14%);
    --color-dark-blue-og:hsl(213, 19%, 18%);
    --color-very-dark-blue:hsl(216, 12%, 8%);
    --color-orange:hsl(25, 97%, 53%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    width:1440px;
    height: 800px;
    background: var(--color-very-dark-blue);
    position: absolute;
    top:9%;
    left:11%;
}
main{
    width: 410px;
    height: 416px;
    border-radius: 20px;
    background-color: var(--color-dark-blue);
    position: absolute;
    top:25%;
    left:35%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}


main > img
{
    width:160px;
    height: auto;
    padding:10px;
}

main > img,
main > span{
    margin-bottom: 30px;
}

main > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height:34px;
    background-color: var(--color-dark-blue-og);
    border-radius: 20px;
    font-size: 14px;
    color:var(--color-orange);
}

main > h1 {
    color:var(--color-text-white);
    margin-bottom: 10px;
}
main > p{
    text-align: center;
    font-size: 14.5px;
    color:var(--color-medium);
    line-height: 25px;
}